<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Poder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Pikachu</td>
        <td>Rayo</td>
        <td>Trueno</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Bulbasaur</td>
        <td>Planta</td>
        <td>Gruñido Growl</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Snorlax</td>
        <td>Pokémon dormir</td>
        <td>dormir</td>
      </tr>
    </tbody>
  </table>